 /* Google Font CDN Link */
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
 *{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Poppins" , sans-serif;
 }

 body{
   min-height: 100vh;
   width: 100%;
   background-image: url(images/KoKzFWZ-black-forest-wallpaper.jpg) ;
   display: flex;
   align-items: center;
   justify-content: center;
 }

 .container{
    position: relative;
    width: 85%;
   background: transparent;
   border: 2px solid rgba(7, 18, 172, 0.5);
   border-radius: 20px;
   backdrop-filter: blur(10px);
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 20px 60px 30px 40px;
   box-shadow: 0 10px 10px rgba(87, 1, 199, 0.2);
 }

 .container .content{
   display: flex;
   align-items: center;
   justify-content: space-between;
 }

 .container .content .left-side{
   width: 25%;
   height: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin-top: 15px;
   position: relative;
 }

 .content .left-side::before{
   content: '';
   position: absolute;
   height: 70%;
   width: 2px;
   right: -15px;
   top: 50%;
   transform: translateY(-50%);
   background: #afafb6;
 }

 .content .left-side .details{
   margin: 14px;
   text-align: center;
   color: #9d47ff;
 }

 .content .left-side .details i{
   font-size: 30px;
   color: #220927;
   margin-bottom: 10px;
   position: relative;
    letter-spacing: 15px;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    line-height: 0.70em;
    outline: none;
    animation: animate2 10s linear infinite;

 }

 .content .left-side .details .topic{
   font-size: 18px;
   font-weight: 500;
 }

 .content .left-side .details .text-one,
 .content .left-side .details .text-two{
   font-size: 14px;
   color: #afafb6;
 }

 .container .content .right-side{
   width: 75%;
   margin-left: 75px;
   color: #ffffff;
   padding: 10px;
   height: 200;
   margin: 10px;
 }

 .content .right-side .topic-text{
   font-size: 23px;
   font-weight: 600;
   color: #260152;
   display: flex;
   position: relative;
   letter-spacing: 3px;
   text-transform: uppercase;
   width: 100%;
   text-align: center;
   line-height: 0.70em;
   outline: none;
   animation: animate1 2s linear infinite;
 }

 .right-side .input-box{
   height: 50px;
   width: 100%;
   margin: 12px 0;
 }

 .right-side .input-box input,
 .right-side .input-box textarea{
   height: 100%;
   width: 100%;
   border: none;
   outline: none;
   font-size: 16px;
   background: #F0F1F8;
   border-radius: 6px;
   padding: 0 15px;
   resize: none;
 }

 .right-side .message-box{
   min-height: 110px;
 }
 .right-side .input-box textarea{
   padding-top: 6px;
 }

 .right-side .button{
   display: inline-block;
   margin-top: 12px;
 }

 .right-side .button input[type="button"]{
   color: #fff;
   font-size: 18px;
   outline: none;
   border: none;
   padding: 8px 16px;
   border-radius: 6px;
   background: transparent;
   cursor: pointer;
   transition: all 0.3s ease;
 }

 .button input[type="button"]:hover{
   background: #510597;
 }

 
 @media (max-width: 950px) {
   .container{
     width: 90%;
     padding: 30px 40px 40px 35px ;
   }
   .container .content .right-side{
    width: 75%;
    margin-left: 55px;
 }
 }
 @media (max-width: 820px) {
   .container{
     margin: 40px 0;
     height: 100%;
   }
   .container .content{
     flex-direction: column-reverse;
   }
  .container .content .left-side{
    width: 100%;
    flex-direction: row;
    margin-top: 40px;
    justify-content: center;
    flex-wrap: wrap;
  }
  .container .content .left-side::before{
    display: none;
  }
  .container .content .right-side{
    width: 100%;
    margin-left: 0;
  }
 }

 @keyframes animate1 {
  0%,18%,20%,50.1%,60%,65.1%,80%,90.1%,92%{
      color: rgb(105, 3, 88);
      text-shadow: none;
  }
  18.2%,20.1%,30%,50%,60.1%,65%,80.1%,90%,92.1%,100%{
      color: #ffff;
      text-shadow: 0 0 10px #390068,
      0 0 20px #1c0229,
      0 0 40px #4d046e,
      0 0 8px #06000e,
      0 0 160px #440381;
  }
}

@keyframes animate2 {
  0%,18%,20%,50.1%,60%,65.1%,80%,90.1%,92%{
      color: rgb(64, 3, 105);
      text-shadow: none;
  }
  18.2%,20.1%,30%,50%,60.1%,65%,80.1%,90%,92.1%,100%{
      color: #ffffff;
      text-shadow: 0 0 10px #261931,
      0 0 20px #da0bbe,
      0 0 40px #ac21ec,
      0 0 8px #eb04b9,
      0 0 160px #ec0dda;
  }
}